#page {
    position: absolute;
    background: #99CD30;
    width: 100%;
    height: 100%;
}
#cont {
    position: relative;
    /* background: darkorchid; */
    width: 82%;
    height: 82%;
    top: 8%;
    left: 8%;
}
.book {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.lpage {
    width: 50%;
    height: 100%;
    /* background-color: #fff; */
}
.back {
    position: absolute;
    width: 50%;
    /* z-index: 1000; */
}

.rpage {
    background-color:grey;
    width: 50%;
    height: 100%;
    position: relative;
}
img.second {
    position: absolute;
    
}
img.first {
    height: 90%;
    position: absolute;
}
